@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.containerF{
  position: absolute;
  bottom: 140px;
  left: 610px;
    width: 1140px;
  }
  
  .FeaturedT{
    position: absolute;
    top: -100px;
    left: 300px;
    font-family: 'Oswald', sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    cursor: pointer;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.2s ease;
    border-radius: 7px;
    &:hover{
      flex: 7;
    }
  }