.Home{
    position: absolute;
    width: 204.4vh;
    height: 200vh;
    left: 0px;
    top: 0px;
    flex-direction: row;
    background-image: url("../../recursos/pixel-jeff-mario.gif");
    background-size: 100%;
    background-repeat: repeat;
    }